




body{
	
	border-color:green;	
	background-image:url("../images/0x400a0a0.jpg");
	
		
	

}

table{
margin:auto;
	
	height:50%;
	width:50%;
	border-width:2; 
	background:white; 
    border-style:inset; 
	border-color:#EF02A4;	
	font-size:40px;
	color:blue;
	
}
td{
	width:180px;	
	colspan:2;
	align:LEFT;
	
}